{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
    {% include "header.html" %}
    {% include "menu.html" %}

    <style>
        input.hidden {
            position: absolute;
            left: -9999px;
            }
        #profile-image1 {
            cursor: pointer;
            width: 100px;
            height: 100px;
	        border:2px solid #03b1ce ;
            }
	    .tital{ 
            font-size:16px; 
            font-weight:500;
            }
	    .bot-border{ 
            border-bottom:1px #f8f8f8 solid;  
            margin:5px 0  5px 0
            }
    </style>
    
    <div class="container">
        <div class="row">
           <div class="col-md-7 ">
    <div class="panel panel-default">
      <div class="panel-heading">  <h4 >User Profile</h4></div>
       <div class="panel-body">
        <div class="box box-info">
                <div class="box-body">
                  <div class="col-sm-6">
                      <div align="center">
                        <!-- <label for="image"> -->
                          <!-- <input type="file" name="image" id="image" style="display:none;"/> -->
                          <img alt="" src="{% static image %}" id="profile-image1" class="img-circle img-responsive">
                        <!-- </label> -->
                      </div>
                      <br>
                    </div>
                  <div class="col-sm-6">
                <h4 style="color:#00b1b1;">{{ username }}</h4></span>
                  <span><p>{{ dept }}</p></span>            
                </div>
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">

    <div class="col-sm-5 col-xs-6 tital " >Full Name:</div><div class="col-sm-7 col-xs-6 ">{{ full_name }}</div>
         <!-- <div class="clearfix"></div> -->
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >Email:</div><div class="col-sm-7">{{ email }}</div>
      <!-- <div class="clearfix"></div> -->
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >Mobile:</div><div class="col-sm-7">{{ phone }}</div>
      <div class="clearfix"></div>
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7">{{ joinday }}</div>
    
      <div class="clearfix"></div>
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">{{ birthday }}</div>
    
      <div class="clearfix"></div>
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div><div class="col-sm-7">{{ address }}</div>
    
     <div class="clearfix"></div>
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >Sex:</div><div class="col-sm-7">{{ sex }}</div>
    
     <div class="clearfix"></div>
    <div class="bot-border"></div>
    
    <div class="col-sm-5 col-xs-6 tital " >User ID:</div><div class="col-sm-7">{{ id }}</div>
              </div>
            </div>
        </div>
        </div>
    </div>
       </div>
    </div>
    {% include "footer.html" %}
</body>
</html>