{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- reset css normalize -->
    <!-- <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> 
    <link rel="stylesheet" href="/static/styles.css"> -->
    <!-- <title></title> -->
</head>
<body>
    <div class="test-footer" style="background: #E0E0E0; text-align: center; padding: 5px; margin-top: 10px; position: unset; bottom: 30px; width: 100%;">
        © 2021 VMO JSC. All rights reserved. 
    </div>
</body>
</html>
{% endblock %}