{% extends "base.html" %}
{% block page_content %}
<div style="background: #E0E0E0; height: 70px; padding: 5px;">
    <div style="float: left">
       <h1>Projects Management System</h1>
    </div>
   
    <div style="float: right; padding: 10px; text-align: right;">
   
       <!-- User store in session with attribute: loginedUser
       Hello
     <br/>
       Search <input name="search"> -->
       <img src="/static/img/Logo.gif" alt="" style="position: absolute; right: 10px; top: 10px; max-height: 40px;">
    </div>
 
  </div>
  {% endblock %}